<div class="wrapper">
  <nav class="nav">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/blog']">
        <mat-icon class="icon">home</mat-icon>
        <span>Blog</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="categories">
        <mat-icon>folder</mat-icon>
        <span>Categories</span>
      </button>
      <button mat-menu-item [routerLink]="['/form']">
        <mat-icon>create</mat-icon>
        <span>New post</span>
      </button>
    </mat-menu>
    <mat-menu #categories="matMenu">
      <button mat-menu-item>Food</button>
      <button mat-menu-item>Travel</button>
    </mat-menu>
  </nav>
</div>

<router-outlet></router-outlet>