.wrapper{
    padding: 2em;
}

 a{
     color: white;
 }

 a:hover{
    color: white;
}
img{
    padding: 2em;
}

.text{
    max-height: 40px;
    overflow: hidden;
}

.delete{
    color: tomato;
    font-size: .8em;
}
  
.list{
    display: flex;
}

.box{
    cursor: pointer;
}

.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}