.wrapper{
    padding: 2em;
}

 a{
     color: white;
 }

 a:hover{
    color: white;
}
img{
    padding: 2em;
}

.text{
    max-height: 40px;
    overflow: hidden;
}

.delete{
    position: relative;
    color: tomato;
    float: right;
    bottom: -7px;
    margin-right: 7px;
}